In [ ]:
# Run first cell

In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Review of Tables ##

In [ ]:
# Load nba table
nba = Table.read_table('nba_salaries.csv').relabeled(3, 'SALARY')
nba

In [ ]:
# Makes a new table only with rows where the 'POSITION' is 'PG'
point_guards = nba.where('POSITION', 'PG')

In [ ]:
point_guards

In [ ]:
# Remove the 'POSITION' column in the table
point_guards.drop('POSITION')

In [ ]:
point_guards

In [ ]:
# Modify point_guards to remove the 'POSITION' column in the table
point_guards = point_guards.drop('POSITION')
point_guards

In [ ]:
# Sort 'SALARY' column of point_guards with the PG the largest salary at the top
point_guards.sort('SALARY', descending=True).show()

In [ ]:
point_guards.sort('SALARY', descending=True).show(15)

In [ ]:
# Questions?

In [ ]:
# ERROR
# Does capitalization matter?
nba.where('position', 'PG')

In [ ]:
# ERROR
# What happens if you try to use a column that isn't in the table anymore?
nba.drop('POSITION').where('POSITION', 'PG')

## Numbers ##

In [ ]:
30

In [ ]:
# int
10 * 3

In [ ]:
# float
10 / 3

In [ ]:
10 / 2

In [ ]:
# exponentiate
10 ** 3

In [ ]:
# square root
10 ** 0.5

In [ ]:
# Can we represent large integers?
1234567 ** 890

In [ ]:
# What about floats?
10 / 3

In [ ]:
75892745.215489247589274985712

In [ ]:
75892745.215489247589274985712 - 75892745.21548925

In [ ]:
# Questions?

In [ ]:
# May lose some precision
(13 ** 0.5) ** 2

In [ ]:
# Convert between float and int
int(10 / 5)

In [ ]:
int(10 / 4)

In [ ]:
float(3)

In [ ]:
6 / 4

In [ ]:
6 / 4000

In [ ]:
6 / 400000000000000000000000000000000000000000000000000000000

In [ ]:
400000000000000000000000000000000000000000000000000000000 * 1.5e-56

In [ ]:
1.5e-56

In [ ]:
x = 5

In [ ]:
2x

In [ ]:
2 * x

## Strings ##

In [ ]:
'Flavor'

In [ ]:
Flavor

In [ ]:
"Flavor"

In [ ]:
'Don't always use single quotes'

In [ ]:
"Don't always use single quotes"

In [ ]:
# Concatenation
'straw' + 'berry'

In [ ]:
# Spaces aren't added for you
'Chris' + 'Paul'

In [ ]:
'Chris' + ' ' + 'Paul'

In [ ]:
'ha' * 100

In [ ]:
'lo' * 5.5

In [ ]:
'ha' + 10

In [ ]:
'data' + 8

In [ ]:
'data' + '8'

In [ ]:
'data' + str(8)

In [ ]:
# Convert string to int
int('3')

In [ ]:
# Convert string to float
float('3.0')

In [ ]:
# Questions?

## Types ##

In [ ]:
type(10)

In [ ]:
a = 10

In [ ]:
type(a)

In [ ]:
type(4.5)

In [ ]:
type('abc')

In [ ]:
type(nba)

In [ ]:
type(True)

In [ ]:
abs(-5)

In [ ]:
type(abs)

## Arrays ##

In [ ]:
my_array = make_array(1, 2, 3, 4)

In [ ]:
my_array

In [ ]:
my_array * 2

In [ ]:
my_array ** 2

In [ ]:
my_array + 1

In [ ]:
my_array # array is unchanged, just like when we call show/select/drop on Table

In [ ]:
another = make_array(5, 6, 7, 8)

In [ ]:
# add together 2 arrays
my_array + another

In [ ]:
yet_another = make_array(5, 6, 7)

In [ ]:
my_array + yet_another

In [ ]:
str_array = make_array('ha', 'he', 'ho')

In [ ]:
str_array

In [ ]:
str_array * 4

In [ ]:
yet_another

In [ ]:
yet_another.item(0)

In [ ]:
yet_another.item(1)

In [ ]:
sum(my_array)

In [ ]:
np.average(my_array)

In [ ]:
len(my_array)

## Columns of Tables are Arrays ##

In [ ]:
warriors = nba.where('TEAM', 'GSW')

In [ ]:
warriors.select('SALARY')

In [ ]:
type(warriors.select('SALARY'))

In [ ]:
warriors.column('SALARY')

In [ ]:
np.average(warriors.column('SALARY'))

In [ ]:
raptors = nba.where('TEAM', 'TOR')

In [ ]:
np.average(warriors.column('SALARY')) - np.average(raptors.column('SALARY'))