In [ ]:
# Always run!

In [2]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Words of Caution ##
- Remember to run the cell above. It's for setting up the environment so you can have access to what's needed for this lecture. For now, don't worry about what it means: we'll learn more about what's inside of it in the next few lectures.
- Data science is not just about code, so please don't go over this notebook by itself. Have the relevant textbook sections or lecture video at hand so that you can go over the discussion along with the code. Thank you! 
- Have the [python reference open](http://data8.org/su21/python-reference.html)!

## Python ##

In [ ]:
# Math!
# Each line of code is a statement (or an expression)
# Addition subtraction and Multiplication

In [22]:
6 + 7 + 8

21

In [23]:
75 - 49 - 5

21

In [24]:
7 * 3

21

In [25]:
63 / 3

21.0

In [26]:
# Decimals!

In [27]:
.42 / .2

2.0999999999999996

In [28]:
# Follows order of operations!

In [29]:
(18 * 3) - 33

21

In [30]:
18 * (3 - 33)

-540

In [31]:
# Exponentiation

In [32]:
# two to the power of four: 2 * 2 * 2 * 2
2 ** 4

16

In [33]:
2 ** -1

0.5

In [34]:
2 ** 4 + 5

21

In [35]:
# Text is also data

In [36]:
'savage'

'savage'

In [ ]:
# add text!

In [37]:
"hello" + "world"

'helloworld'

In [38]:
"hello" + " " + "world"

'hello world'

## Names ##

In [ ]:
# One name

In [ ]:
a = 4

In [ ]:
a

In [ ]:
# Another Name

In [ ]:
b = 9

In [ ]:
b

In [ ]:
# Use it in an expression!

In [ ]:
a * 3

In [ ]:
# Use both!

In [ ]:
total = a + b

In [ ]:
total

In [ ]:
# Doesn't modify

In [ ]:
a = 10

In [ ]:
# What's the new value?

In [ ]:
total

In [ ]:
# Redefine

In [ ]:
total = a + b

In [ ]:
total

In [ ]:
# Names vs Text

In [ ]:
'total'

### Why Names?

In [ ]:
# Blinking?

In [ ]:
# Option 1 <- a comment!
30 * 60 * 24 * 365

In [ ]:
# Option 2
blinks_per_minute = 30
blinks_per_hour = blinks_per_minute * 60
hours_per_day = 24
days_per_year = 365

In [ ]:
hours_per_year = hours_per_day * days_per_year

In [ ]:
hours_per_year

In [ ]:
yearly_blinks = hours_per_year * blinks_per_hour
yearly_blinks

In [ ]:
age = 70
yearly_blinks * age

In [ ]:
# Blinks in a lecture?

In [ ]:
blinks_per_minute * 50

In [ ]:
# Change blinks_per_minute?

In [ ]:
# Use names! Easier to read for everyone
# Questions?

## Functions and Call Expressions

In [ ]:
abs(-8)

In [ ]:
# Expressions inside arguments!
# Evaluates the arguments first

In [ ]:
abs(10 - 2)

In [ ]:
day_temp = 70
night_temp = 57
abs(night_temp - day_temp)

In [ ]:
# min

In [ ]:
min(8, 61)

In [ ]:
# round

In [ ]:
round(123.456)

In [ ]:
# Optional arguments
# unnamed

In [ ]:
round(123.456, 1)

In [ ]:
# name the argument

In [ ]:
round(123.456, ndigits=1)

In [ ]:
# Chain together!
# Complicated, use names!
# Note the coloring of the parentheses

In [ ]:
round(max(abs(-8), 10.2))

In [ ]:
# Functions 
# - take different number of arguments
# - evaluate to different things
# questions?

## Tables ##

In [ ]:
# Read the table!
# an assignment statement

In [ ]:
cones = Table.read_table('cones.csv')
cones

In [ ]:
# What's that file?

In [ ]:
# Call the functions on the table
# "Table operations"
# tbl.show

In [ ]:
cones.show(3)

In [ ]:
# Look Ma, no Args!

In [ ]:
cones.show()

In [ ]:
# Individual Columns

In [ ]:
cones.select('Flavor')

In [ ]:
# Multiple Columns

In [ ]:
cones.select('Flavor', 'Price')

In [ ]:
# Why Quotes? 
# read the error!

In [ ]:
cones.select(Flavor, 'Price')

In [ ]:
# Another way to select

In [ ]:
cones.drop('Price')

In [ ]:
# Remember to assign!

In [ ]:
cones

In [ ]:
cones_without_price = cones.drop('Price')
cones_without_price

In [ ]:
# Filter

In [ ]:
cones.where('Flavor', 'chocolate')

In [ ]:
# Sort

In [ ]:
cones.sort('Price')

In [ ]:
# Descending order

In [ ]:
cones.sort('Price', descending=True)

In [ ]:
# Alphabetical

In [ ]:
cones.sort('Flavor', descending=True)

In [ ]:
# Why is it called an operation?

In [ ]:
Table.sort(cones, "Flavor")

In [ ]:
# Questions?

### A more interesting table

In [5]:
# Load the table!
# NBA very popular among Data 8 Staff

In [6]:
nba = Table.read_table('nba_salaries.csv')
nba

PLAYER            | POSITION | TEAM | SALARY  | AGE
Danilo Gallinari  | PF       | ATL  | 19.5    | 32
Bogdan Bogdanovic | SG       | ATL  | 18      | 28
Clint Capela      | C        | ATL  | 16      | 26
Tony Snell        | SG       | ATL  | 12.1786 | 28
Louis Williams    | SG       | ATL  | 8       | 33
De'Andre Hunter   | SF       | ATL  | 7.422   | 22
Trae Young        | PG       | ATL  | 6.5718  | 22
Onyeka Okongwu    | PF       | ATL  | 5.81364 | 19
Kris Dunn         | PG       | ATL  | 4.767   | 26
Cam Reddish       | SF       | ATL  | 4.458   | 21
... (503 rows omitted)

In [7]:
# Filter the table!

In [8]:
celtics = nba.where('TEAM', 'BOS')

In [9]:
celtics

PLAYER           | POSITION | TEAM | SALARY  | AGE
Kemba Walker     | PG       | BOS  | 34.3791 | 30
Jaylen Brown     | SG       | BOS  | 22.9911 | 23
Evan Fournier    | SG       | BOS  | 17      | 27
Marcus Smart     | PG       | BOS  | 12.9464 | 26
Jayson Tatum     | PF       | BOS  | 9.89712 | 22
Tristan Thompson | C        | BOS  | 9.258   | 29
Romeo Langford   | SG       | BOS  | 3.6312  | 20
Aaron Nesmith    | SF       | BOS  | 3.4584  | 20
Grant Williams   | PF       | BOS  | 2.49876 | 21
Luke Kornet      | C        | BOS  | 2.25    | 25
... (5 rows omitted)

In [10]:
# Modifify Columns

In [11]:
celtics.select("PLAYER", "POSITION", "SALARY", "AGE")

PLAYER           | POSITION | SALARY  | AGE
Kemba Walker     | PG       | 34.3791 | 30
Jaylen Brown     | SG       | 22.9911 | 23
Evan Fournier    | SG       | 17      | 27
Marcus Smart     | PG       | 12.9464 | 26
Jayson Tatum     | PF       | 9.89712 | 22
Tristan Thompson | C        | 9.258   | 29
Romeo Langford   | SG       | 3.6312  | 20
Aaron Nesmith    | SF       | 3.4584  | 20
Grant Williams   | PF       | 2.49876 | 21
Luke Kornet      | C        | 2.25    | 25
... (5 rows omitted)

In [12]:
celtics.drop('TEAM')

PLAYER           | POSITION | SALARY  | AGE
Kemba Walker     | PG       | 34.3791 | 30
Jaylen Brown     | SG       | 22.9911 | 23
Evan Fournier    | SG       | 17      | 27
Marcus Smart     | PG       | 12.9464 | 26
Jayson Tatum     | PF       | 9.89712 | 22
Tristan Thompson | C        | 9.258   | 29
Romeo Langford   | SG       | 3.6312  | 20
Aaron Nesmith    | SF       | 3.4584  | 20
Grant Williams   | PF       | 2.49876 | 21
Luke Kornet      | C        | 2.25    | 25
... (5 rows omitted)

In [13]:
celtics

PLAYER           | POSITION | TEAM | SALARY  | AGE
Kemba Walker     | PG       | BOS  | 34.3791 | 30
Jaylen Brown     | SG       | BOS  | 22.9911 | 23
Evan Fournier    | SG       | BOS  | 17      | 27
Marcus Smart     | PG       | BOS  | 12.9464 | 26
Jayson Tatum     | PF       | BOS  | 9.89712 | 22
Tristan Thompson | C        | BOS  | 9.258   | 29
Romeo Langford   | SG       | BOS  | 3.6312  | 20
Aaron Nesmith    | SF       | BOS  | 3.4584  | 20
Grant Williams   | PF       | BOS  | 2.49876 | 21
Luke Kornet      | C        | BOS  | 2.25    | 25
... (5 rows omitted)

In [14]:
# Assignment

In [15]:
celtics = celtics.drop('TEAM')

In [16]:
# Big table

In [17]:
celtics.sort('SALARY', descending=True).show()

In [18]:
# Small table

In [19]:
celtics.sort('SALARY', descending=True).show(3)

In [20]:
# Carry through

In [21]:
nba.drop('POSITION').where('POSITION', 'PG')

ValueError: label "POSITION" not in labels ('PLAYER', 'TEAM', 'SALARY', 'AGE')