In [ ]:
# run this cell!
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Arrays

In [ ]:
my_array = make_array(1, 2, 3, 4)

In [ ]:
my_array

In [ ]:
my_array * 2

In [ ]:
len(my_array)

In [ ]:
sum(my_array)

In [ ]:
sum(my_array) / len(my_array)

In [ ]:
np.average(my_array)

In [ ]:
another = make_array(70, 60, 90, 80)

In [ ]:
my_array + another

In [ ]:
yet_another = make_array(5, 6, 7)

In [ ]:
my_array + yet_another

In [ ]:
tunas = make_array('bluefin', 'albacore', 'jim')
tunas

In [ ]:
'bluefin' *4

In [ ]:
tunas * 4

In [ ]:
tunas.item(0) # NOTE: indexing starts at 0!

In [ ]:
tunas.item(2)

In [ ]:
tunas.item(3)

## Columns of Tables are Arrays ##

In [ ]:
nba = Table.read_table('nba_salaries.csv').relabeled(3, 'SALARY')
warriors = nba.where('TEAM', 'GSW')

In [ ]:
warriors

In [ ]:
warriors.select('SALARY')

In [ ]:
type(warriors.select('SALARY'))

In [ ]:
warriors.column('SALARY')

In [ ]:
np.average(warriors.column('SALARY'))

In [ ]:
raptors = nba.where('TEAM', 'TOR')

In [ ]:
np.average(warriors.column('SALARY')) - np.average(raptors.column('SALARY'))

## Ranges ##

In [ ]:
make_array(0, 1, 2, 3, 4, 5, 6)

In [ ]:
np.arange(7)

In [ ]:
np.arange(5, 11)

In [ ]:
np.arange(0, 20, 2)

In [ ]:
np.arange(0, 21, 2)

In [ ]:
np.arange(0, 1, 0.1)

# Ways to Create a Table #

## Creating a Table from Scratch ##

In [ ]:
streets = make_array('Bancroft', 'Durant', 'Channing', 'Haste')
streets

In [ ]:
Table()

In [ ]:
southside = Table().with_column('Streets', streets)
southside

In [ ]:
southside.with_column('Blocks from campus', np.arange(4))

In [ ]:
southside

In [ ]:
southside = southside.with_column('Blocks from campus', np.arange(4))
southside

In [ ]:
Table().with_columns(
    'Streets', streets,
    'Blocks from campus', np.arange(4)
)

## Reading a Table from a File  ##

In [ ]:
welcome = Table.read_table('welcome_survey.csv').drop(0)
welcome.show(5)

In [ ]:
welcome.labels

In [ ]:
welcome.num_rows

In [ ]:
welcome.num_columns

In [ ]:
# On average, how long do side-sleepers sleep?
side_sleepers = welcome.where('sleep style', are.containing('side'))
np.average(side_sleepers.column('hours sleep'))

In [ ]:
# How many students get at least 8 hours of sleep each night (on average)?
# First way:
welcome.where('hours sleep', are.above_or_equal_to(8)).num_rows

In [ ]:
# Second way
np.count_nonzero(welcome.column('hours sleep') >= 8)

In [ ]:
# Third way
np.sum(welcome.column('hours sleep') >= 8)

In [ ]:
# Create a table with only the two sleep-related columns, 
# with names 'Hours' and 'Position'
two_col = welcome.select('hours sleep', 'sleep style')
sleep = two_col.relabeled(0, 'Hours').relabeled(1, 'Position')
sleep.show(3)

In [ ]:
# Second way
two_col = welcome.drop('timezone', 'extraversion', 'texting info')
sleep = two_col.relabeled(0, 'Hours').relabeled(1, 'Position')
sleep.show(3)

In [ ]:
# On average, how many people do people text in a day? Does this value make sense?
np.average(welcome.column("texting info"))

In [ ]:
# What proportion of students are in Pacific Standard Time?
num_pst = welcome.where("timezone", are.containing("PST")).num_rows
num_total = welcome.num_rows
prop_pst = num_pst/num_total
prop_pst

In [ ]:
# What are the highest and lowest values of the 'extraversion' column? What do these values mean?
max(welcome.column("extraversion"))
min(welcome.column("extraversion"))

## Discussion Questions ##

In [ ]:
nba

## Census ##

In [ ]:
full = Table.read_table('nc-est2014-agesex-res.csv')
full

In [ ]:
partial = full.select('SEX', 'AGE', 'CENSUS2010POP', 'POPESTIMATE2014')
partial.show(4)

In [ ]:
simple = partial.relabeled(2, '2010').relabeled(3, '2014')
simple.show(4)

In [ ]:
simple.sort('AGE')

In [ ]:
simple.sort('AGE', descending=True)

## Line Plots ##

In [ ]:
no_999 = simple.where('AGE', are.below(999))

In [ ]:
everyone = no_999.where('SEX', 0).drop('SEX')
everyone

In [ ]:
everyone.plot('AGE', '2010')

In [ ]:
# US Population
everyone.plot('AGE', '2010')

In [ ]:
everyone.plot('AGE', '2010')
print('US Population')

In [ ]:
everyone.plot('AGE', '2010')
plots.title('US Population');

In [ ]:
everyone.where('AGE', are.between(60, 71))

In [ ]:
everyone.plot('AGE')