# Lecture 10A  

Data Science 8, Summer 2021

- Groups     
- Lists
- Pivots

In [ ]:
from datascience import *
import numpy as np
import warnings
warnings.filterwarnings("ignore")

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')
plots.rcParams["patch.force_edgecolor"] = True

#The following allows porting images into a Markdown window
from IPython.display import Image

<h1>Group</h1>

<h2> The <span style='font-family:sans-serif'> <font color='blue'> group </font> </span> method aggregates&#8212;with respect to a particular column (attribute)&#8212;all rows having the same categorical value.
<ul>
    <li> <i>First argument:</i>         Which column to group by</li>
    <li> <i>Second argument (Optional):</i> What do we want <span style='font-family:sans-serif'> <font color='blue'> group </font> </span> to do with each unique value of the attribute with respect to which the grouping takes place? </li>
    <ul>
        <li><span style='font-family:sans-serif'> <font color='blue'> len </font> </span> (default)&#8212;number of grouped values. Counts how many times each category appears.</li>
        <li> <span style='font-family:sans-serif'> <font color='blue'> list</font> </span>&#8212;list of all grouped values.</li>
        <li><span style='font-family:sans-serif'> <font color='blue'> sum</font> </span>&#8212;total of all grouped values.</li>
    </ul>
<ul>    
<h2>

In [ ]:
cones = Table.read_table("cones.csv").drop("Color")
cones

### tbl.group("a column name")

In [ ]:
cones.group("Flavor")

### [Visualizer](http://data8.org/interactive_table_functions/)

### tbl.group("a column name", function_name)

In [ ]:
cones

In [ ]:
cones.group("Flavor", np.mean)

### [Visualizer](http://data8.org/interactive_table_functions/)

In [ ]:
# Remember, the name of the other columns has changed!

In [ ]:
grouped = cones.group("Flavor", np.mean)
grouped

In [ ]:
grouped.column("Price")
grouped.column("Price mean")

In [ ]:
# What about other functions? Cheapest?
cones.group("Flavor", min)

In [ ]:
def identity(arr):
    return arr
cones.group("Flavor", identity)

### [Visualizer](http://data8.org/interactive_table_functions/)

### A cooler dataset

In [ ]:
movies = Table.read_table("movies.csv")
movies = movies.with_column("Who Watched", movies.column("Yanay Watched") + 2*movies.column("Katherine Watched"))
movies.show(5)

In [ ]:
# Counts of who watched?

In [ ]:
movies.group("Who Watched")

In [ ]:
# Remember that we can make a bar chart of that
movies.group("Who Watched").barh("Who Watched", "count")

### With a function!

In [ ]:
movies.group("Distributor", np.average)

In [ ]:
### What's the nan?
### What's Title Average?

In [ ]:
not_nan = movies.where("Distributor", are.not_equal_to("nan"))
not_nan.drop("Title").group("Distributor", np.average)

In [ ]:
# Visualize!
not_nan.group("Distributor", np.average).barh("Distributor", "Budget average")

In [ ]:
# Visualize but better
not_nan.group("Distributor", np.average)\
        .sort("Budget average")\
        .select("Distributor", "Budget average", "Domestic Gross average")\
        .barh("Distributor")

In [ ]:
# Time for some depressing plots :(
# Treat year as a category
movies.group("Year")

In [ ]:
# average
movies.group("Year", np.average)

In [ ]:
movies.group("Year", np.average).select("Year", "Domestic Gross average", "Budget average").plot("Year")

<h1> Lists </h1>

<h3> In one sense, lists are like arrays&#8212;they're a sequence of values:
<ul> 
    <li>Separated by commas; </li>
    <li> Flanked on the two sides by a pair of square brackets [,,,]</li>
</ul>
</h3>

    
<h3>
Distinctions between <tt>array</tt> and <tt>list</tt>
<ul> 
    <li>Elements of an array <i>must be</i> of the same type.</li>
    <li> Elements of a list <i>need not be</i> of the same type.</li>
    <li> We can have nesting in a list&#8212;e.g., an array within a list, or a list within a list, etc. </li>
    <li> Arrays are natural for holding columns. </li>
    <li> Lists are natural for holding rows, since the elements across a row in a table need not be of the same type.</li>
</ul>
</h3>

<h4>A list similar to an array</h4>

In [ ]:
[1, 5, 9]

<h4>Lists that contains multiple types of entries.</h4>

In [ ]:
[1, 5, 'hello', 5.0]

### Lists vs arrays

In [ ]:
# as table values both work!
abc=Table().with_column('K', [3, 4])
abc

In [ ]:
# many numpy functions work on lists
# note that with the call to append it was converted to an array
np.average([1,2,3]), np.append([1,2,3], 4), np.diff([1,2,3]), np.cumsum([1,2,3]), min([1,2,3])

In [ ]:
# But many do not work the best
np.average([1,2,"shoe"])

In [ ]:
# Why even bother with arrays then in the first place?
[1,2,3] * 3

In [ ]:
[1,2,3] / 3

In [ ]:
[1,2,3] - 4

In [ ]:
# .item?
[1,2,3].item(1)

In [ ]:
# indexing
[1,2,3][1]

In [ ]:
a = "loki".split("o")
a

In [ ]:
a[0]

In [ ]:
a[1]

<h3>Nesting a List</h3>

In [ ]:
nest = [["multi", "verse"], ["of", "madness"]]
nest

In [ ]:
nest[0]

In [ ]:
nest[1][0]

<h3> Create an empty table with only the column labels specified</h3>

In [ ]:
drinks = Table(['Drink', 'Cafe', 'Price'])
drinks

<h3>Now construct the table row by row</h3>

<h3>New Function Alert: <tt>table_name.with_rows([])</tt> </h3>

<h4>Notice we have a list of four items, each of which is a list in its own right.</h4>

In [ ]:
drinks = drinks.with_rows([
    ['Milk Tea', 'Asha', 5.5],
    ['Espresso', 'Strada',  1.75],
    ['Latte',    'Strada',  3.25],
    ['Espresso', "FSM",   2]
])
drinks

In [ ]:
drinks = drinks.with_rows(make_array(
    make_array('Milk Tea', 'Asha', 5.5),
    make_array('Espresso', 'Strada',  1.75),
    make_array('Latte',    'Strada',  3.25),
    make_array('Espresso', "FSM",   2)
))
drinks

In [ ]:
## Questions about lists (they aren't that important)
## Slides

# Cross Classification

In [ ]:
movies

### tbl.group([list or array of column names], function)

In [ ]:
movies.group(["Category", "Yanay Watched"])

In [ ]:
# With a function
movies_small = movies.select("Category", "Yanay Watched", "Domestic Gross", "Budget")
movies_small.group(["Category", "Yanay Watched"], np.average)

In [ ]:
# Can also use an array as the argument
movies_small.group(make_array("Category", "Yanay Watched"), np.average)

In [ ]:
## Multi column Group Questions?
## Slides

# Pivot Tables

## Pivot Tables $\longleftrightarrow$ Discern Association Between Two Categorical Variables

## Scatter Plots $\longleftrightarrow$ Discern Association Between Two Numerical Variables

<h2>
Example:</h2>
    <ul>
        <li> <h3>Type of Environment A Person Lives In: Big City, Suburb, Rural.</h3></li>
        <li> <h3>Political Party Affiliation: Republican, Democratic, Libertarian, Green, Other.</h3> </li>
    </ul>
</h2>

<h4> One of these categories is assigned to the horiztonal axis of the Pivot Table, and the other is assigned to the vertical axis, thereby creating a $3\times 5$ or $5\times 3$ grid.

In [ ]:
chocolates = Table(["Color", "Shape", "Amount", "Price"])
chocolates = chocolates.with_rows([
    ["Dark","Round",4,1.3],
    ["Milk","Rectangular",6,1.2],
    ["White","Rectangular",12,2],
    ["Dark","Round",7,1.75],
    ["Milk","Rectangular",9,1.4],
    ["Milk","Round",2,1]
])
chocolates
# Yum

`table_name.pivot("pivot column", "group column")`

In [ ]:
# Pivot!
chocolates.pivot("Shape", "Color")

### [Visualizer](http://data8.org/interactive_table_functions/)

In [ ]:
### How to Read the Table?
### What about Ruby Chocolate :(

### Aggregation on Pivot Tables

`table_name.pivot("pivot column", "group column", "values", collect_function)`

In [ ]:
# How does average price depend on the shape and color?
chocolates.pivot("Shape", "Color", "Price", np.average)

### [Visualizer](http://data8.org/interactive_table_functions/)

In [ ]:
pivoted = chocolates.pivot("Shape", "Color", "Price", np.average)
pivoted

In [ ]:
pivoted.barh("Color")

In [ ]:
### Back to the movies table!

In [ ]:
movies.show(3)

In [ ]:
# Yanay vs Katherine
movies.pivot("Yanay Watched", "Katherine Watched")

In [ ]:
# I don't like those column names or the 0 and 1 :3
our_movies = movies.pivot("Yanay Watched", "Katherine Watched")
our_movies.relabeled("0", "Yanay didn't watch")\
          .relabeled("1", "Yanay did watch")\
          .with_column("Katherine Watched", ["No", "Yes"])

In [ ]:
movies.pivot("Distributor", "Category")

In [ ]:
movies.pivot("Distributor", "Category", "Domestic Gross", np.average)

In [ ]:
movies.pivot("Distributor", "Category", "Domestic Gross", np.average).barh("Category")

In [ ]:
## What do you see?
## Disney vs Warner Bros vs 20th Century Fox vs Sony in Super Hero movies?
## Questions about Pivot

# Lecture 10B

## Challenge Question ##

In [ ]:
sky = Table.read_table('skyscrapers_v2.csv')
sky = (sky.with_column('age', 2021 - sky.column('completed'))
          .drop('completed'))
sky.show(3)

Don't read ahead until you try the challenge questions yourself first!

In [ ]:
# 1 (Using Group)
sky.select('material', 'city', 'height').group(['city', 'material'], collect=max)

In [ ]:
# 1 (Using Pivot)
sky.pivot('material', 'city', values='height', collect=max).show()

In [ ]:
# 2
sky_pivoted = sky.pivot('material', 'city', values='age', collect=max)
sky_pivoted = sky_pivoted.with_column(
    'difference', 
    abs(sky_pivoted.column('steel') - sky_pivoted.column('concrete'))
)
sky_pivoted

### Take-home question: try it here!

In [ ]:
# Generate a table of the names of the oldest buildings for each 
# material for each city:

## Joins ##

In [ ]:
drinks

In [ ]:
discounts = Table().with_columns(
    'Coupon % off', make_array(10, 25, 5),
    'Location', make_array('Asha', 'Strada', 'Asha')
)
discounts

In [ ]:
combined = drinks.join('Cafe', discounts, 'Location')
combined

In [ ]:
# What is the actual price of each drink going to be after using coupons?
discounted_frac = 1 - combined.column('Coupon % off') / 100
combined.with_column(
    'Discounted Price', 
    combined.column('Price') * discounted_frac
)

### What if second table has an identical column label?

In [ ]:
drinks = drinks.with_column('City', ['Berkeley'] * drinks.num_rows)
drinks

In [ ]:
discounts = discounts.with_column('City', ['Berkeley'] * discounts.num_rows)
discounts

In [ ]:
drinks.join('Cafe', discounts, 'Location')

## Table Review ##

In [ ]:
sky

What if you wanted to round each height to the nearest foot? How could you add a column to the `sky` table with the rounded heights?

In [ ]:
sky = sky.with_column("rounded heights", sky.apply(np.round, "height"))
sky

What if you wanted to look at a table of only the names and cities of each skyscraper? What are two ways you could do that?

In [ ]:
# First way: .select
sky.select("name", "city")

In [ ]:
# Second way: .drop
sky.drop("material", "height", "age", "rounded heights")

Let's do some investigation of New York City skyscrapers.

What is the name of the tallest building in New York City?

In [ ]:
nyc = sky.where("city", "New York City")
nyc.sort("height", descending = True).column("name").item(0)

What is the average height of a building in New York City?

In [ ]:
np.mean(nyc.column("height"))

Visualize the distribution of heights of skyscrapers in NYC

In [ ]:
nyc.hist("height")

In NYC, what is the number of skyscrapers of each material type?

In [ ]:
nyc.group("material")

In NYC, what is the number of skyscrapers of each material type in skyscrapers older than 50 years?

In [ ]:
nyc.where("age", are.above(50)).group("material")

It looks like the type of material skyscrapers are made of have changed over time. In NYC, what is the number of skyscrapers of each material type in skyscrapers less than or equal to 10 years?

In [ ]:
nyc.where("age", are.below(10)).group("material")