In [4]:
from datascience import *
import matplotlib.pyplot as plt
import numpy as np

def section_grade(all_assignments, drops, total):
    assignments = [g for g in all_assignments if g != "ungraded"]
    if len(assignments) == 0:
        return 0
    num_highest = max(1, len(assignments) - drops)
    highest = sorted(assignments, reverse=True)[0:num_highest]
    avg = np.mean(highest)

    return total * avg

In [5]:
# BINS
bins = Table().read_table("bins.csv")
bins.show()

# Grade Calculator
Enter in your grades for each assignment below. If an assignment has not been graded yet, leave it as `0`.

Then, run all the cells, and view your current grade boundary and total grade.

(For grades, enter in the number as a proportion (convert from a percent). For labs, if you got a 100 or higher enter 1, if you got below 100 enter 0).

In [16]:
# YOUR GRADES
hw01 = 0
hw02 = 0
hw03 = 0
hw04 = 0
hw05 = 0
hw06 = 0
hw07 = 0
hw08 = 0
hw09 = 0
hw10 = 0
hw11 = 0
hw12 = 0

project1 = 0
project2 = 0

lab01 = 0
lab02 = 0
lab03 = 0
lab04 = 0
lab05 = 0
lab06 = 0
lab07 = 0
lab08 = 0
lab09 = 0
lab09 = 0
lab10 = 0

midterm = 0
final = 0

In [17]:
# Don't change this cell!
HWS = [hw01, hw02, hw03, hw04, hw05, hw06, hw07, hw08, hw09, hw10, hw11, hw12]
LABS = [lab01, lab02, lab03, lab04, lab05, lab06, lab07, lab08, lab09, lab10]
PROJECTS = [project1, project2]
MIDTERM = [midterm]
FINAL = [final]

# Categories and point values:
LAB_TOTAL = 30
HOMEWORK_TOTAL = 75
PROJECTS_TOTAL = 60
MIDTERM_TOTAL = 45
FINAL_TOTAL = 90

# Drops
HOMEWORK_DROPS = 2
LAB_DROPS = 2

In [18]:
# Your points from homeworks
hw_grade = section_grade(HWS, HOMEWORK_DROPS, HOMEWORK_TOTAL)
hw_grade

0.0

In [19]:
# Your points from labs
lab_grade = section_grade(LABS, LAB_DROPS, LAB_TOTAL)
lab_grade

0.0

In [20]:
# Your points from projects
project_grade = section_grade(PROJECTS, 0, PROJECTS_TOTAL)
project_grade

0.0

In [21]:
# Your points from exams
midterm_grade = section_grade(MIDTERM, 0, MIDTERM_TOTAL)
final_grade = section_grade(FINAL, 0, FINAL_TOTAL)
midterm_grade, final_grade

(0.0, 0.0)

In [22]:
# Your total points
TOTAL_GRADE = lab_grade + hw_grade + project_grade + midterm_grade + final_grade
TOTAL_GRADE

0.0

In [23]:
idx = np.argmin(bins.column("points") >= TOTAL_GRADE)
if all(bins.column("points") >= TOTAL_GRADE):
    print("No grade boundary met yet.")
    bins.show()
else:
    bins.take(np.arange(idx + 1)).show()
    g = bins.row(idx).item("bin")
    print(f"Current Grade: {g} or higher")

No grade boundary met yet.