In [1]:
from datascience import *
import matplotlib.pyplot as plt
import numpy as np

def section_grade(all_assignments, drops, total):
    assignments = [g for g in all_assignments if g != "ungraded"]
    if len(assignments) == 0:
        return 0
    num_highest = max(1, len(assignments) - drops)
    highest = sorted(assignments, reverse=True)[0:num_highest]
    avg = np.mean(highest)

    return total * avg

In [2]:
# BINS
bins = Table().read_table("bins.csv")
bins.show()

# Grade Calculator
Enter in your grades for each assignment below. If an assignment has not been graded yet, leave it as `"ungraded"`.

Then, run all the cells, and view your current grade boundary and total grade.

In [3]:
# YOUR GRADES
hw01 = "ungraded"
hw02 = "ungraded"
hw03 = "ungraded"
hw04 = "ungraded"
hw05 = "ungraded"
hw06 = "ungraded"
hw07 = "ungraded"
hw08 = "ungraded"
hw09 = "ungraded"
hw10 = "ungraded"
hw11 = "ungraded"
hw12 = "ungraded"

project1 = "ungraded"
project2 = "ungraded"

lab01 = "ungraded"
lab02 = "ungraded"
lab03 = "ungraded"
lab04 = "ungraded"
lab05 = "ungraded"
lab06 = "ungraded"
lab07 = "ungraded"
lab08 = "ungraded"
lab09 = "ungraded"
lab09 = "ungraded"
lab10 = "ungraded"

midterm = "ungraded"
final = "ungraded"

In [4]:
# Don't change this cell!
HWS = [hw01, hw02, hw03, hw04, hw05, hw06, hw07, hw08, hw09, hw10, hw11, hw12]
LABS = [lab01, lab02, lab03, lab04, lab05, lab06, lab07, lab08, lab09, lab10]
PROJECTS = [project1, project2]
MIDTERM = [midterm]
FINAL = [final]

# Categories and point values:
LAB_TOTAL = 30
HOMEWORK_TOTAL = 75
PROJECTS_TOTAL = 60
MIDTERM_TOTAL = 45
FINAL_TOTAL = 90

# Drops
HOMEWORK_DROPS = 2
LAB_DROPS = 2

In [5]:
# Your points from homeworks
hw_grade = section_grade(HWS, HOMEWORK_DROPS, HOMEWORK_TOTAL)
hw_grade

0

In [6]:
# Your points from labs
lab_grade = section_grade(LABS, LAB_DROPS, LAB_TOTAL)
lab_grade

0

In [7]:
# Your points from projects
project_grade = section_grade(PROJECTS, 0, PROJECTS_TOTAL)
project_grade

0

In [8]:
# Your points from exams
midterm_grade = section_grade(MIDTERM, 0, MIDTERM_TOTAL)
final_grade = section_grade(FINAL, 0, FINAL_TOTAL)
midterm_grade, final_grade

(0, 0)

In [9]:
# Your total points
TOTAL_GRADE = lab_grade + hw_grade + project_grade + midterm_grade + final_grade
TOTAL_GRADE

0

In [10]:
idx = np.argmin(bins.column("points") >= TOTAL_GRADE)
if all(bins.column("points") >= TOTAL_GRADE):
    print("No grade boundary met yet.")
    bins.show()
else:
    bins.take(np.arange(idx + 1)).show()
    g = bins.row(idx - 1).item("bin")
    print(f"Current Grade: {g} or higher")

No grade boundary met yet.